{% extends 'yebon/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Hello Yebon!</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/yebon.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo&amp;subset=korean" rel="stylesheet">
</head>
<body>
	{% block content %}
		<script type="text/javascript"> 
		var happyPercent=0;
		function cnt(hap, eff) {
			happyPercent += hap*eff;
			console.log(happyPercent);
		}
		window.onload = function count(){
			document.getElementById("hapPct").innerHTML = happyPercent;
		}
	</script>
		{% for thing in things %}
		    <div class="thing">
		    	<h3 class={{thing.reporter}}>{{thing.reporter}}에게서 오는 행복</h3>
		        <h1><a href="{% url 'thing_detail' pk=thing.pk %}">{{ thing.thing }}</a></h1>
				<script type="text/javascript"> 
					var hap = parseInt("{{ thing.happinessIndex}}");
					var eff = parseInt("{{ thing.effortIndex}}");
					cnt(hap,eff);
				</script>
		        <p>행복지수 : {{ thing.happinessIndex}} / 노력지수 : {{ thing.effortIndex}}</p>
			    <p>{{ thing.desc}}</p>

		        <div class="date">
		        	<p>published: {{ thing.published_date |linebreaksbr}}</p>
		        </div>
		    </div>
		{% endfor %}
	<h2>예본이의 행복지수는?<STRONG id="hapPct"></STRONG></h2>
	{% endblock %}
	
	
</body>
</html>